// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$jumbotron-bg: #f8f9fa;
$jumbotron-title-color: #007bff;
$jumbotron-subtitle-color: #333;
$jumbotron-text-color: #666;
$btn-primary-color: #007bff;
$btn-primary-hover-color: #0056b3;
$btn-text-color: #fff;
