body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  margin-left: 100px;
  margin-right: 100px;
}

.jumbotron h1 {
  font-size: 3.5rem;
  color: $jumbotron-title-color;
}

.jumbotron h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1.5rem;
}

.jumbotron p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 1rem;
}

.download-btn,
.add-bike-btn,
.see-bikes-btn {
  background-color: $btn-primary-color;
  border: none;
  border-radius: 0.25rem;
  color: $btn-text-color;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.download-btn:hover,
.add-bike-btn:hover,
.see-bikes-btn:hover {
  background-color: $btn-primary-hover-color;
  text-decoration: none;
  color: $btn-text-color;
}

.my-4 {
  color: white
}

.main-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.home-title {
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
  font-size: 100px;
}

.card {
  margin-bottom: 2rem;
}

.booking-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
